.home-body{
    min-height: 90vh;
    overflow-x: scroll;
}

.home-body-card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 90vh;
}